/*! ----------------- Color Var ----------------- */
:root {
    --var-green: rgba(116, 154, 112, 1);
    --var-cream: rgba(197, 178, 159, 1);
    --var-brown: rgba(120, 86, 55, 1);
    --var-white: rgba(255, 255, 255, 1);
}

/*! ----------------- DATAGRID CATEGORIE ----------------- */
.section-btn-add {
    margin-right: 27.8%;
}

/*! ----------------- ADD CATEGORIE ----------------- */
.form-add-categ {
    background-color: var(--var-green);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 90%;
    height: 70%;
    flex-wrap: wrap;
    place-content: center;
}

.section-info-categ {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
}

.input-name-categ {
    width: 362px;
    height: 26px;
}

.input-poids-categ {
    width: 362px;
    height: 26px;
}