/*! ----------------- Color Var ----------------- */
:root {
    --var-green: rgba(116, 154, 112, 1);
    --var-cream: rgba(197, 178, 159, 1);
    --var-brown: rgba(120, 86, 55, 1);
    --var-white: rgba(255, 255, 255, 1);
}

/*! ----------------- CARD ----------------- */
.section-body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    font-family: "Mova";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-weight: 400;
}

.row {
    max-width: 800px;
    margin: 50px 10%;
}

.card {
    float: left;
    padding: 0 1.7rem;
    width: 100%;
}

.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card .menu-content::before,
.card .menu-content::after {
    content: "";
    display: table;
}

.card .menu-content::after {
    clear: both;
}

.card .menu-content li {
    display: inline-block;
}

.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    transform: translate(-50%, 0);
}

.card .wrapper {
    background-color: var(--var-cream);
    min-height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.section-img-produit {
    display: flex;
    place-content: center;
    height: auto;
}

.section-img-produit img {
    width: 280px;
}

.card .wrapper:hover .data {
    transform: translateY(0);
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
}

.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.card .author {
    font-size: 20px;
    color: var(--var-brown);
}

.card .title {
    margin-top: 10px;
}

.card .title p {
    font-size: 20px;
}

.card .text {
    height: 80px;
    margin: 0;
}

.card input[type=checkbox] {
    display: none;
}

.card input[type=checkbox]:checked+.menu-content {
    transform: translateY(-60px);
}

.example-2 .wrapper {
    transform: translateZ(-9.7rem);
}

.example-2 .wrapper:hover .menu-content span {
    transform: translate(-50%, -10px);
    opacity: 1;
}

.example-2 .header {
    color: var(--var-green);
    padding: 1em;
}

.example-2 .header::before,
.example-2 .header::after {
    content: "";
    display: table;
}

.example-2 .header::after {
    clear: both;
}

.example-2 .header .date {
    float: left;
    font-size: 12px;
}

.example-2 .menu-content {
    float: right;
}

.example-2 .menu-content li {
    margin: 0 5px;
    position: relative;
}

.example-2 .menu-content span {
    transition: all 0.3s;
    opacity: 0;
}

.example-2 .data {
    background-color: rgba(197, 178, 159, 0.9);
    color: var(--var-green);
    transform: translateY(calc(60px + 4em));
}

.example-2 .title a {
    color: var(--var-green);
}

.example-2 .button {
    display: block;
    width: 64%;
    text-align: center;
    font-size: 16px;
    color: var(--var-cream);
    background-color: var(--var-brown);
    padding: 10px;
    line-height: 1;
    position: relative;
    font-weight: 700;
    border: none;
    padding-right: 20px;
    border-radius: 100px;
}

.example-2 .button::after {
    content: "🛒";
    opacity: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

.example-2 .button:hover::after {
    transform: translate(5px, -50%);
    opacity: 1;
}