/*! ----------------- Color Var ----------------- */
:root {
    --var-green: rgba(116, 154, 112, 1);
    --var-cream: rgba(197, 178, 159, 1);
    --var-brown: rgba(120, 86, 55, 1);
    --var-white: rgba(255, 255, 255, 1);
}

/*! ----------------- SHOPPING CART ----------------- */
.shopping-cart-body {
    display: flex;
    place-content: center;
    height: 69.5vh;
    flex-wrap: wrap;
    color: white;
}

.shopping-cart-section {
    display: flex;
    width: 70%;
}

.cart-div {
    padding: 10px;
    flex: 1;
}

.cart-length-null {
    font-size: 28px;
    color: var(--var-brown);
    font-weight: 600;
}

.cart-section {
    display: flex;
}

.cart-section-img {
    width: 100px !important;
    margin: 10px 10px;
    object-fit: scale-down;
}

.cart-section-descrip {
    display: flex;
}

.cart-div-left h3 {
    font-weight: normal;
}

.cart-div-left p {
    font-size: 16px;
}

.button {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: var(--var-cream);
    background-color: var(--var-brown);
    padding: 10px;
    line-height: 1;
    position: relative;
    font-weight: 700;
    border: none;
    padding-right: 20px;
    border-radius: 100px;
    margin: 10px 0px;
}

.buttonPaypal {
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: none;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .shopping-cart-body {
        display: flex;
        place-content: center;
        height: 67.5vh;
        flex-wrap: wrap;
        color: white;
    }
}