/*! ----------------- Color Var ----------------- */
:root {
    --var-green: rgba(116, 154, 112, 1);
    --var-cream: rgba(197, 178, 159, 1);
    --var-brown: rgba(120, 86, 55, 1);
    --var-white: rgba(255, 255, 255, 1);
}

/*! ----------------- CONTACT INFORMATION ----------------- */
.contact-center-container {
    display: flex;
    justify-content: center;
    font-family: "Mova";
    margin: 10% 0;
}

.contact-container {
    display: flex;
    background-color: var(--var-green);
    border-radius: 10px;
    box-shadow: -27px -17px 30px var(--var-green),
        27px 17px 30px var(--var-white);
    align-self: center;
}

.contact-box {
    width: 40vw;
    flex: 1;
    height: 60vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box-info {
    border-right: 1px solid var(--var-green);
}

.contact-title {
    align-self: center;
    font-size: 50px;
    color: var(--var-cream);
    /* text-transform: uppercase; */
    font-variant: small-caps;
    align-content: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.contact-text {
    font: 22px "Mova";
    background-color: var(--var-brown);
    color: transparent;
    text-shadow: 1px 2px 2px var(--var-brown);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

/*! ----------------- CONTACT ENVOI EMAIL ----------------- */

.section-contact-email {
    display: flex;
    place-content: center;
    height: 69.5vh;
    position: relative;
    top: 120px;
}

.titre-contact-email {
    font: 40px "Mova";
    margin: 10px 0px;
    text-transform: uppercase;
    text-align: center;
}

.input-contact-email {
    border: 2px dashed var(--var-brown);
    padding: 10px;
    background-color: var(--var-cream);
    flex-wrap: wrap;
    width: 362px;
    height: 26px;
    border-radius: 10px;
    margin: 16px 0px;
}

.input-contact-email::placeholder {
    font: 18px "Mova";
    color: var(--var-brown);
}

.div-btn-contact-email {
    display: flex;
    place-content: center;
}

.btn-contact-email {
    font: 16px "Mova" !important;
    background: var(--var-brown) !important;
    color: var(--var-cream) !important;
    border-radius: 4px !important;
    filter: drop-shadow(8px 4px 10px) !important;
    padding: 10px 0px !important;
    width: 100px !important;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .contact-box {
        width: 38vw;
        height: 64vh;
    }

    .contact-title {
        font-size: 40px;
    }

    .contact-info {
        width: 200px;
    }

    .contact-text {
        font: 20px "Mova";
    }

    /*! ----------------- CONTACT ENVOI EMAIL ----------------- */
    .section-contact-email {
        height: 67.5vh !important;
    }

    .section-contact-email {
        position: relative;
        top: 60px;
    }

    .input-contact-email {
        width: 340px;
        height: 20px;
    }

    .input-contact-email::placeholder {
        font: 16px "Mova";
    }
}