/*! ----------------- Color Var ----------------- */
:root {
    --var-green: rgba(116, 154, 112, 1);
    --var-cream: rgba(197, 178, 159, 1);
    --var-brown: rgba(120, 86, 55, 1);
    --var-white: rgba(255, 255, 255, 1);
}

/*! ----------------- MENU ----------------- */
.nav {
    display: flex;
    height: 10vh;
    background-color: var(--var-cream);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--var-green);
}

.logoNav {
    position: relative;
    left: -10%;
}

.nav-logo {
    width: 80px;
}

.nav-item {
    color: white;
    border-radius: 100px;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    left: 14%;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 8px;
    letter-spacing: 1px;
    font-family: "Mova";
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .nav-logo {
        width: 70px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        left: 12%;
    }

    .nav-link {
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        padding: 8px 8px;
        letter-spacing: 1px;
        font-family: "Mova";
        text-transform: capitalize;
        position: relative;
        overflow: hidden;
    }
}